{% extends 'base.html' %}
{% block body %}



<body>
  <div class="mx-3">
    <h1 class="display-3">Hello Dear Reader</h1>
    <p class="lead">
      Book Recommender project </p>
    <hr class="my-8">

  </div>
  <p class="mx-3">
    Thank you for your interest in SwiftReads, a dynamic book recommendation project built on Flask. I appreciate your
    enthusiasm for contributing to this platform. If you have any questions, suggestions, or if you'd like to be a part
    of this project, feel free to reach out @neeteshchauhan3@gmail.com.
  </p>
  <div class="col-md-8">
    <img id="thanks_gif" src="https://media.tenor.com/ljaWqmaZvRIAAAAC/thank-you-batman.gif" alt="thanks_gif">
  </div>



</body>
{% endblock body %}