{% extends 'base.html' %}
{% block body %}



<body>
    <div id="card-container">
        <div class="mx-3">
            <h1 class="display-3">SwiftReads Recommender</h1>
            <p class="lead">
                Bridging Gaps in Reading Schedules </p>
            <hr class="my-8">

        </div>

    </div>


    <div>
        <p class="mx-3">
            Step into SwiftRead, where we understand that time is a rare gem in today's fast-paced world. Amidst the
            whirlwind of life, we invite you to reconnect with the simple pleasure of reading. For those new to the journey,
            explore our handpicked Top 50 books; for seasoned readers, let us be your compass to fresh adventures based on
            your favorites from the <b>Recommendations</b> page. 
            <br>
            SwiftRead is more than an app – it's a friend nudging you to savor the magic of stories, even
            when time is a fleeting luxury.
        </p>
    <div id="image-container">
        <img id="book-image" src="{{ url_for('static', filename='books.jpg') }}" alt="Books Image">
    </div>

</div>

</body>
{% endblock body %}